*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', system-ui, sans-serif;
}

body {
  background-color: #f3f4f6;
  color: #111827;
  line-height: 1.5;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone-container {
  width: 350px;
  max-width: 90vw;
  height: 600px;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #f8f9fa;
  border: 2px solid #7c0519;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Start Button */
.button-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-open-form {
  background-color: #7c0519;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.6rem 1.2rem;
  border-radius: 0.75rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(129, 84, 7, 0.4);
  transition: transform 0.2s, box-shadow 0.2s;
}

.btn-open-form:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 12px rgba(143, 94, 10, 0.5);
}

/* Form Section */
.form-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
}

/* Header */
.form-header {
  flex: 0 0 auto;
  text-align: center;
  padding: 0.5rem 1rem;
}

.form-header h2 {
  font-size: 1.15rem;
  font-weight: 600;
  color: #7c0519;
  margin-bottom: 0.5rem;
  font-style: italic;
}

.form-header hr {
  width: 95%;
  margin: 0 auto 1rem;
  border: 0;
  height: 1px;
  background-color: #7c0519;
}

/* Scrollable form content */
.form-content {
  flex: 1 1 auto;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  padding: 0 1.5rem;
  margin-bottom: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  /* gap: 0.25rem; */
}

.form-group label {
  font-size: 0.85rem;
  font-weight: 500;
  color: #374151;
}

.form-group input {
  padding: 0.65rem 0.75rem;
  border-radius: 0.5rem;
  border: 1.5px solid #d1d5db;
  outline: none;
  font-size: 0.9rem;
}

.form-group input:focus {
  border-color: #7c0519;
  box-shadow: 0 0 4px rgba(124,5,25,0.3);
}

.error-msg {
  font-size: 0.7rem;
  color: #b91c1c;
  min-height: 1rem;
}

/* Buttons */
.action-buttons {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.btn-submit, .btn-cancel {
  flex: 1;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  border: none;
  font-size: 0.9rem;
  cursor: pointer;
}

.btn-submit {
  background-color: #7c0519;
  color: #fff;
}

.btn-submit:hover {
  background-color: #9b0c27;
  transform: translateY(-1px);
}

.btn-cancel {
  background-color: #d1d5db;
  color: #1f2937;
}

.btn-cancel:hover {
  background-color: #e5e7eb;
  transform: translateY(-1px);
}

.hidden {
  display: none;
}
