*, *::before, *::after {
  box-sizing: border-box;
  margin: 0; 
  padding: 0; 
  font-family: 'Inter', system-ui, sans-serif;
}

body {
  background-color: #f3f4f6;
  color: #111827;
  line-height: 1.5;
  height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center; 
  overflow: hidden;
}

.phone-container {
  width: 350px;
  max-width: 90vw;
  min-height: 600px;
  padding: 1.5rem;
  border-radius: 2rem;
  background-color: #f8f9fa;
  border: 2px solid #7c0519;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  position: relative;
}

.hidden {
  display: none;
}

.btn-open-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #7c0519;
  color: #ffffff;
  font-size: 1.05rem;
  font-weight: bold;
  padding: 0.72rem 1.5rem;
  border-radius: 0.75rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(129, 84, 7, 0.4);
  transition: transform 0.2s, box-shadow 0.2s;
}

.btn-open-form:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 12px rgba(143, 94, 10, 0.5);
}
